---
layout: master
---
<div class="post">
	<h2>{{ page.title}}</h2>
    	<div class="date">
		{{ page.date | date: "%B %d, %Y" }}
	</div>
      	<div><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="alexrothenberg" data-text="{{ page.title }}">Tweet</a>
             <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	</div>
	<div class="body">
		{{ content }}
	/div>

	<div id="disqus_thread"></div>
	<script type="text/javascript" src="http://chenyuefengblog.disqus.com/embed.js"> </script>
	<noscript>Please enable JavaScript to <a href="http://alexrothenberg.disqus.com/?url=ref">view the discussion thread.</a></noscript>
</div>




<div id="related">
	<div class="related_left">
		<h2>Recent Posts</h2>
		<ul class="posts small">
			{% for post in site.related_posts limit:3 %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
